:root {
  --dark: #21252B;
  --light: #ffffff;
  --primary: var(--dark);
  --text: ##FFFFFF;
  --background: #21252B;
}

#title {
  font-family: Impact;
  margin: 0;
  top: 0px;
  font-weight: normal;
}
table{
  border: 1px solid var(--text);
}
table th{
  border: 1px solid var(--text);
}
table tr{
  border: 1px solid var(--text);
}
table tr td{
  border: 1px solid var(--text);
}
#mode {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 30px;
  width: 60px;
  background: #2C3038;
  border-radius: 50px;
  -webkit-transition: 600ms;
  transition: 600ms;
}

#mode::before {
  content: "";
  position: absolute;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  top: -2px;
  left: -2px;
  background: white;
  -webkit-box-shadow: 0 0 5px #2C303873;
          box-shadow: 0 0 5px #2C303873;
  -webkit-transition: 600ms;
  transition: 600ms;
}

#mode.active {
  background: #F4FDFF;
  -webkit-box-shadow: inset 0 0 15px #38D8FF;
          box-shadow: inset 0 0 15px #38D8FF;
}

#mode.active::before {
  left: 30px;
}

a {
  color: skyblue;
  text-decoration: none;
}

body {
  color: var(--text);
  background: var(--primary);
  font-family: Arial, Helvetica, sans-serif;
}

body #title {
  font-size: 3rem;
  font-family: Consolas;
}

body main {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
  gap: 20px;
  min-height: 70vh;
  max-width: 90vw;
}

body main #txtbox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  color: var(--text);
}

body main #txtbox input, body main #txtbox textarea {
  background: var(--background);
  color: var(--text);
  border: none;
  margin: 5px;
  padding: 5px;
  width: 100%;
  border-radius: 10px;
  margin: 10px;
}

body main #txtbox input:hover {
  background: skyblue;
  -webkit-box-shadow: 0 0 15px skyblue;
  box-shadow: 0 0 15px skyblue;
  color: black;
  cursor: pointer;
}

body main #txtbox #contents {
  width: 100%;
  min-height: 50vh;
}

body main #txtbox #copy-icon {
  position: relative;
}

body main #txtbox #copy-icon:hover {
  cursor: pointer;
}

body main #viewbox {
  background: var(--background);
  padding: 10px;
  border-radius: 10px;
  min-height: 50vh;
  margin: 10px;
}

body footer {
  background: var(--background);
  color: var(--text);
  font-size: 1rem;
  text-align: center;
  padding: 10px;
  margin: 5px;
  margin-top: 15px;
  border-radius: 5px;
}

@media (orientation: landscape) and (min-device-aspect-ratio: 1 / 1) {
  body main {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
}
/*# sourceMappingURL=style.css.map */